.section_one_blog {

    background-image: url("/assets/img/pexels-picography-4458.jpg");
    height: 100vh;
    .section_one_blog_about {
        display: grid;
        place-items: center;
      padding-top: 200px;
     
        font-weight: bold;
    color:white;
     h1{
      font-size: 11rem;
     }
    }

}

  .accordion {
    background: #654ea3;
    background: -webkit-linear-gradient(to left, #654ea3, #eaafc8);
    background: linear-gradient(to left, #654ea3, #eaafc8);
    min-height: 100vh;
    padding-bottom: 5rem;
  }
  