.section_one_form {

    background-image: url("/assets/img/pexels-karolina-grabowska-4021801.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom -200px center;
    background-size: cover;
    .section_one_form_about {
        display: grid;
        place-items: center;
        padding-top: 300px;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 2px green;
        h1{
            font-size: 11rem;
        }
    }

}
.forms{
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="date"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    select {
        height: 35px;
    }
    
    .submit-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color:  #234b55;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
}

//responsive tablet

@media screen and (max-width: 768px) {


    .section_one_form{
        margin-top: -200px;
        .section_one_form_about{
            h1{
                margin-top: 303px;
                font-size: 6rem !important;
            }
        }
    }
  .forms{
    .container{
        max-width: 300px;  
    }
    .form-group{
        width: 200px;
    }
  }
  }
  
  
  
  
  //responsive mobile
  @media only screen and (max-width: 479px) {
    .section_one_form{
        margin-top: -200px;
        .section_one_form_about{
            h1{
                margin-top: 303px;
                font-size: 6rem !important;
            }
        }
    }
  .forms{
    .container{
        max-width: 280px;  
    }
    .form-group{
        width: 200px;
    }
  }
  
  
  }