main {
    .section_one_home {
        // background-image: url("/assets/img/pexels-karolina-grabowska-4021801.jpg");
        background-image: url("/assets/img/pexels-karolina-grabowska-4386467.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-position: bottom -700px center;
        background-size: cover;

        .section_one_home_about {
            display: grid;
            place-items: center;
            padding-top: 20%;
            font-size: 2rem;
            font-weight: bold;
            z-index: 2;
            color: #234b55;
            height: 20px;
        }

    }


}
//responsive
@media screen and (max-width: 768px) {
    .section_one_home {
     
        height: 500px !important;
        background-position: bottom -261px center !important;

        .section_one_home_about {
            font-size: 1rem !important;
        }

    }  
}





//card

.card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .card-image img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .card-content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card-content .info {
    display: none;
  }
  
  .card:hover .info {
    display: block;
  }










//
.section_cards {
    margin: 200px 200px;
    h1{
        text-align: center;
        color: #234b55;
        font-weight: normal;
        font-size: 4rem;
        margin-top: 5r
    }
    height: 500px;
#cardContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    .card {
        border: 1px solid none;
        border-radius: 5px;
        overflow: hidden;
        height: 400px;
      }
      
      .card:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      .btn_cards{
        background-color: #234b55;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
         padding: auto 3rem;
      }
      .card-image img {
        width: 100%;
        height: auto;
      }
      
      .card-content {
        padding: 55px;
      }
      
      .card-content h3 {
        margin: 0;
        font-size: 28px;
      }
      
      .card-content .info {
        display: none;
      }
      
      .card:hover .info {
        display: block;
      }
      
}
  
}

// section cards two

$accent-color: #3abc84;

.section_cards_ABOUTS {
    margin-bottom: 100px;
    h1 {
        padding-bottom: 50px;
        font-size: 30px;
        color: #3abc84;
        text-align: center;
    }

}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 420px;
    height: 340px;
    margin: 1em;
    perspective: 1500px;

    .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
    }
}

.more {
    display: none;

    &:checked~.content {
        transform: rotateY(180deg);
    }
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;

    .inner {
        height: 100%;
        display: grid;
        padding: 1.5em;
        transform: translateZ(80px) scale(0.94);
    }
}

.front {
    background-color: #aa4949;
    background-size: cover;
    background-position: center center;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 6px;
        backface-visibility: hidden;
        background: linear-gradient(40deg,
                rgba(67, 243, 170, 0.7),
                rgba(228, 230, 231, 0.7));
    }

    .inner {
        grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
        justify-items: center;
    }

    h2 {
        grid-row: 2;
        margin-bottom: 0.3em;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;
        font-weight: 500;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }

    .rating {
        grid-row: 3;
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        display: flex;
        flex-flow: row nowrap;

        i {
            margin: 0 1px;
        }
    }
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid rgb(240, 240, 240);

    .inner {
        grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 0.8em;
        justify-items: center;
    }

    .info {
        position: relative;
        display: flex;
        align-items: center;
        color: $accent-color;
        grid-row: 3;

        &:not(:first-of-type):before {
            content: '';
            position: absolute;
            left: -0.9em;
            height: 18px;
            width: 1px;
            background-color: #ccc;
        }

        span {
            font-size: 2em;
            font-weight: 700;
        }

        i {
            &:before {
                background: linear-gradient(40deg, $accent-color, rgb(67, 138, 243));
                -webkit-text-fill-color: transparent;
            }

            font-size: 1.2em;
        }

        .icon {
            margin-left: 0.3em;

            span {
                display: block;
                margin-top: -0.25em;
                font-size: 0.8em;
                font-weight: 600;
                white-space: nowrap;
            }
        }
    }

    .description {
        grid-row: 5;
        grid-column: 1/-1;
        font-size: 0.86em;
        border-radius: 5px;
        font-weight: 600;
        line-height: 1.4em;
        overflow: auto;
        color: $accent-color;
        padding-right: 10px;
    }

    .location,
    .price {
        font-weight: 600;
        color: $accent-color;
        grid-row: 1;
        font-size: 0.86em;
    }

    .location {
        grid-column: 1/3;
        justify-self: left;
    }

    .price {
        grid-column: 3/-1;
        justify-self: right;
    }

    .button {
        grid-column: 1/-1;
        justify-self: center;
    }
}

.button {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        text-shadow: none;
        color: $accent-color;
    }

    &.return {
        line-height: 3em;
        color: $accent-color;
        border-color: $accent-color;
        text-shadow: none;

        &:hover {
            background-color: $accent-color;
            color: #fff;
            box-shadow: none;
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lighten($accent-color, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background: $accent-color;
}


//map section start

.map {
    iframe {

        width: 100%;
        height: 500px;
        border-radius: 15px;
    }

}



// map section end


//help section start
#help {
    height: 600px;
    h1 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
        color: #787878;
    }

    h4 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #787878;
    }

    h5 {
        color: #787878;
        font-size: 25px;
    }


    .background {
        background: rgba(41, 41, 41, 0.4);
        height: 30px;

        .color {
            background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
            height: 30px;
        }

        h3 {
            color: #787878;
            letter-spacing: 2px;
            font-size: 14px;
        }
    }

}

.html {
    position: relative;
    margin-bottom: 25px;

    h5 {
        position: absolute;
        top: 0;
        left: 92%;


    }

    .color {
        background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
        width: 93%;
        height: 5px;

    }

}

.wordPress {
    position: relative;

    margin-bottom: 25px h5 {
        position: absolute;
        top: 0;
        left: 75%;
    }

    .color {
        width: 75%
    }
}


.magento {

    position: relative;
    margin-bottom: 25px;

    h5 {
        position: absolute;
        top: 0;
        left: 86%;
    }

    .color {
        width: 86%
    }
}


.uiux {
    position: relative;
    margin-bottom: 25px;
}

h5 {
    position: absolute;
    top: 0;
    left: 88%;
}


.color {
    width: 88%;
}

@media screen and (max-width: 768px) {
    #help {
     
width: 500px;
margin-left: 20px;
    }  
}

//help section end
.carousel_cards{
    .carousel {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding: 20px 0;
      }
      
      .card {
        flex: 0 0 auto;
        width: 300px;
        margin-right: 20px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
      .card img {
        width: 100%;
        height: auto;
      }
      
      .card button {
        display: block;
        margin-top: 10px;
      }
      
      .card p {
        margin-top: 10px;
      }
      
      .card i {
        margin-top: 10px;
        cursor: pointer;
      }
      
      .wishlist {
        color: red;
      }
      
      /* FontAwesome ikonlarının doğru görüntülenebilmesi için gerekli stil */
      @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
      
      
      
}

 