@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800');

html {
    scroll-behavior: smooth;
}

.people_body {
    background: #111222;
}

.sec-01,
.sec-02,
.sec-03 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
    background: #111222;
}

.container_people {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}


.section-title {
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.media-info {
    width: 400px;
    margin-left: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
}

.media-info li a {
    color: #FFF;
    text-decoration: none;
}

.media-info li:not(:last-child) {
    margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 100px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(4) {
    padding-left: 50px;
}

.sec-03 {
    margin-bottom: 100px;
}

//taymer 

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

.section_countdown {
    background-color: #111222;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: #FFF;

    h1 {
        font-weight: normal;
        font-size: 4rem;
        margin-top: 5rem;
    }
}



.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

.peopleabout_btn {
    background-color: rgb(57, 57, 134);
    border-radius: 11px;
    border: none;
    width: 167px;
    padding: 3px 14px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

//responsive tablet

@media screen and (max-width: 768px) {


    .people_main {
        margin-left: 100px;
        display: flex;
        flex-direction: column;


    }

    .content .image img {
        width: 73%;
        height: 77%;


    }

    .section_countdown h1 {
        font-size: 3rem;
    }

    .content .text-box {
        padding: 34px;
        max-width: 316px;
    }

    .sec-01,
    .sec-02,
    .sec-03 {
        padding: 17px 25px;
    }


}




//responsive mobile
@media only screen and (max-width: 479px) {
    .people_main {
        display: flex;
        flex-direction: column;


    }

    .content .image img {
        width: 53%;
        height: 57%;


    }

    .section_countdown h1 {
        font-size: 3rem;
    }

    .content .text-box {
        padding: 34px;
        max-width: 316px;
    }
    .sec-01,
    .sec-02,
    .sec-03 {
        padding: 17px 25px;
    }
}