
.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #28293E;
    .section_Personal {
        width: 80%;
        display: flex;
        flex-direction: column;
        .fourdiv {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 60px;
            margin-bottom: 40px;
        }
        .agep11new {
            font-size: 25px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            color: white;
        }
        .menupp {
            font-weight: 400;
            font-size: 25px;
            line-height: 32px;
            color: #FFFFFF;
            margin: 0;
        }
       .aboppnew {
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #d8d0d0;
            margin: 0;
        }
    }
    .logo_footer{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-size: 30px;
        color: #d8d0d0;
    }
}
@media screen and (max-width: 768px) {
    .section_Personal {
        .fourdiv{

            flex-direction: column !important;
            align-items: center;
            gap: 20px;

        }
     }
 }