*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1358px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}